@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  background-color: #ffffff;
}
.TParrow::after {
  content: "";
  position: absolute;
  bottom: 33%;
  right: -7%;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent #f87171;
}

h1 {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.025em;
  color: #1f2937;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.025em;
  color: #1f2937;
}
h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.025em;
  color: #1f2937;
}
p:not(.share) {
  margin-bottom: 1rem;
  color: #6b7280;
}

ol {
  list-style-type: decimal;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 2.75rem;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 2.55rem;
  }
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
}
